.table-container{
  width: 86%;
  padding: 20px;

  .table-box{
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 15px #ededed;

    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .link {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #606266;
      &:hover{
        cursor: pointer;
        text-decoration: underline; /* 添加下划线 */
        color: #53a8ff; /* 设置字体颜色为红色 */
      }
    }

    .el-table{
      font-size: 22px;
      color: #303133;
    }

    .el-pagination {
      text-align: center;
      margin-top: 20px;
    }
    
    /deep/ .el-pagination .el-pager li {
      font-size: 16px;
      margin: 0 4px;
      cursor: pointer; /* 添加指针样式 */
      transition: background-color 0.3s ease; /* 添加过渡效果 */
    }
    
    .el-pagination .el-pager li:hover {
      background-color: #409EFF;
      color: #fff;
    }
    
    /* 隐藏默认的页码输入框 */
    /deep/ .el-pagination .el-pagination__jump {
      font-size: 16px;
    }
    
    /* 自定义样式，更改分页控件的布局 */
    /deep/ .el-pagination .el-pagination__right {
      display: flex;
      align-items: center;
    }
    
    /deep/ .el-pagination .el-pagination__total {
      font-size: 16px;
      margin-left: 10px;
      color: #666;
    }

  }
}

.user-detail-container {
  width: 86%;
  padding: 20px;

  .user-box{
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 15px #ededed;
  
    .user-title{
      font-weight: bolder;
      font-size: 30px;
      line-height: 60px;
      margin-left: 60px;
    }
  
    .el-form{
      margin:50px 60px;
    }

    ::v-deep .el-form-item__label{
      font-weight: 500;
      font-size: 24px;
      margin-right: 40px;
      margin-bottom: 10px;
      color: #303133;
    }
  
    .el-input{
      width: 300px;
    }

    ::v-deep .el-input__inner {
      font-size: 20px;
    }

    .btn-item {
      width: 32%;
      display: flex;
      justify-content: flex-end; /* 将内容右对齐 */
      align-items: center; /* 垂直居中 */
      .login-btn{
        font-size: 18px;
      }
  
      .cancle-btn{
        font-size: 18px;
      }
    }    
  }
}

.title{
  flex: 1;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}